* {
    font-family: Futura, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*******************
 Icon display
 *******************/

.icon-display {
    display: block;
    text-align: center;
    padding: 2rem 0;
}

.icon-display img {
    width: 12rem;
}

@media screen and (min-width: 900px) {
    .icon-display {
        display: inline-block;
        width: 30%;
    }

    .icon-display img {
        width: 7rem;
    }
}

/*******************
 Time display
 *******************/

.time-display {
    text-align: right;
    line-height: 7rem;
}

.time-display .down-indicator {
    display: inline;
    vertical-align: top;
    width: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 1rem;
}

.time-display .time-left {
    display: inline;
    font-family: Futura, Menlo, monospace;
    font-size: 7rem;
    width: 80%;
}

@media screen and (min-width: 900px) {
    .time-display {
        display: inline-block;
        width: 70%;
    }
}

/*******************
 Actions
 *******************/

.actions {
    margin-bottom: 2rem;
}

/*******************
 Controls display
 *******************/

.controls-display {
    margin-bottom: 3rem;
}

.controls-display-control {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
}

.controls-display-control {
    padding-right: .5rem;
}
.controls-display-control + .controls-display-control {
    padding-right: 0;
    padding-left: .5rem;
}

.controls-display-control button {
    position: relative;
    width: 100%;
    height: 3rem;

    font-size: 1rem;
    text-align: center;

    border: 1px solid;
    border-radius: 2rem;
}

.controls-display-control button img {
    display: block;
    width: 1rem;

    position: absolute;
    top: 1rem;
}

.controls-display-control button span {
    margin-left: .5rem;
}
.controls-display-control + .controls-display-control button span {
    margin-left: 0;
    margin-right: .5rem;
}

@media screen and (min-width: 900px) {
    .controls-display {
        display: inline-block;
        width: 30%;
        box-sizing: border-box;
        padding-right: 1rem;
        margin-bottom: 0;
        vertical-align: top;
    }

    .controls-display-control {
        display: block;
        width: 100%;
        padding: 0 .5rem;
        margin: 0 auto 0.5rem;
    }
}

/*******************
 Presets display
 *******************/

.presets-display {
    margin-bottom: 3rem;
}

.presets-display .presets-display-header {
    margin-bottom: 1rem;
}

.presets-display .presets-display-header .presets-title {
    display: inline-block;
    width: 50%;
}

.presets-display .presets-display-header .presets-edit {
    display: inline-block;
    width: 50%;

    font-size: 1rem;
    text-align: right;
    color: #4DB3EA;
}

.presets-display .presets-display-header .presets-edit img {
    display: inline;
    width: 1rem;
    margin-left: 0.5rem;
}

.presets-display-actions {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

.presets-action {
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    padding: 0 0.25rem;
}

.presets-action button {
    width: 100%;
    padding: 0.75rem;
    border-radius: 2rem;
    border: 1px solid #005B80;
    color: #005B80;
    background: #4DB3EA;
}

.presets-action .presets-action-title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (min-width: 900px) {
    .presets-display {
        display: inline-block;
        width: 70%;
        box-sizing: border-box;
        padding-left: 1rem;
        margin-bottom: 0;
        vertical-align: top;
    }

    .presets-display .presets-display-header {
        margin-bottom: 1.25rem;
    }
}

/*******************
 Settings display
 *******************/

.settings-header {
    margin-bottom: 1rem;
}

.settings-header .settings-title {
    display: inline-block;
    width: 50%;
}
.settings-header .settings-exit {
    display: inline-block;
    width: 50%;
    text-align: right;
}
.settings-header .settings-exit img {
    height: 1rem;
}

.settings-form {
    margin-bottom: 2rem;
}

.settings-presets-list {
    margin-bottom: 1rem;
}

.settings-presets-item {
    margin-bottom: .5rem;
}

.settings-form-action {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}

.settings-form-action button {
    width: 100%;
    height: 3rem;
    border-radius: 2rem;
    border: 1px solid;

    position: relative;
}

.settings-form-action button img {
    position: absolute;
    height: 1rem;
    top: 1rem;
}

.footer {
    text-align: center;
    padding: 0 2rem;
}

@media screen and (min-width: 420px) {
    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        align-items: center;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        width: 380px;
        margin-top: 50px;
        padding: 2rem;
        box-sizing: border-box;

        border: 1px solid darkgrey;
        border-radius: 4px;
    }
}

@media screen and (min-width: 900px) {
    .content-container {
        width: 750px;
    }
}
