* {
    font-family: Futura, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button span {
    font-size: 1rem;
}

.container {
    position: relative;
}

.content-container {
    opacity: 0;
}
.content-container.loaded {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    opacity: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(.3rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@media screen and (min-width: 420px) {
    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        align-items: center;
    }

    .content-container {
        width: 380px;
        margin: 2rem 0;
        padding: 2rem;
        box-sizing: border-box;

        border: 0.1rem solid #333;
        border-radius: 2rem;
    }
}

@media screen and (min-width: 900px) {
    .content-container {
        width: 750px;
    }
}

/*******************
 Icon display
 *******************/

.icon-display {
    display: block;
    text-align: center;
    padding: 2rem 0;
}

.icon-display img {
    width: 12rem;
}

@media screen and (min-width: 900px) {
    .icon-display {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        padding: 0;
    }

    .icon-display img {
        width: 9rem;
    }
}

/*******************
 Time display
 *******************/

.time-display {
    text-align: right;
    line-height: 7rem;
}

.time-display .down-indicator {
    display: inline;
    vertical-align: top;
    width: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 1rem;
}

.time-display .time-left {
    display: inline;
    font-family: Futura, Menlo, monospace;
    font-size: 7rem;
    width: 80%;
}

@media screen and (min-width: 900px) {
    .time-display {
        display: inline-block;
        width: 70%;
        vertical-align: top;
        padding-top: 1rem;
    }
}

/*******************
 Actions
 *******************/

.actions {
    margin-bottom: 2rem;

    animation-name: fadeIn;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

/*******************
 Controls display
 *******************/

.controls-display {
    margin-bottom: 3rem;
}

.controls-display-control {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
}

.controls-display-control {
    padding-right: .5rem;
}
.controls-display-control + .controls-display-control {
    padding-right: 0;
    padding-left: .5rem;
}

.controls-display-control button {
    position: relative;
    width: 100%;
    height: 3rem;

    font-size: 1rem;
    text-align: center;

    border: 0.1rem solid;
    border-radius: 2rem;
    box-shadow: #aaa 0 .2rem .2rem 0;
}

.controls-display-control button img {
    display: block;
    height: 1rem;

    position: absolute;
    top: .95rem;
}

.controls-display-control button img {
    left: 1rem;
    right: auto;
}
.controls-display-control + .controls-display-control button img {
    left: auto;
    right: 1rem;
}

.controls-display-control button span {
    margin-left: .5rem;
}
.controls-display-control + .controls-display-control button span {
    margin-left: 0;
    margin-right: .5rem;
}

@media screen and (min-width: 900px) {
    .controls-display {
        display: inline-block;
        width: 30%;
        box-sizing: border-box;
        padding-right: 1rem;
        margin-top: 2.75rem;
        margin-bottom: 0;
        vertical-align: top;
    }

    .controls-display-control,
    .controls-display-control + .controls-display-control {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 auto 0.5rem;
    }

    .controls-display-control button {
        border-radius: 1rem;
    }

    .controls-display-control button span,
    .controls-display-control + .controls-display-control button span {
        margin: 0 0 0 .5rem;
    }
    .controls-display-control button img,
    .controls-display-control + .controls-display-control button img {
        left: 1rem;
        right: auto;
    }
}

/*******************
 Presets display
 *******************/

.presets-display {
    margin-bottom: 3rem;
}

.presets-display .presets-display-header {
    margin-bottom: 1rem;
}

.presets-display .presets-display-header .presets-title {
    display: inline-block;
    width: 50%;
}

.presets-display .presets-display-header .presets-edit {
    display: inline-block;
    width: 50%;

    font-size: 1rem;
    text-align: right;
    color: #4DB3EA;
}

.presets-display .presets-display-header .presets-edit img {
    display: inline;
    width: 1rem;
    margin-left: 0.5rem;
}

.presets-display-actions {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

.presets-action {
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    padding: 0 0.25rem;
}

.presets-action button {
    width: 100%;
    padding: 0.75rem;
    border-radius: 2rem;
    border: 0.1rem solid #005B80;
    color: #005B80;
    background: #4DB3EA;
    box-shadow: #aaa 0 .2rem .2rem 0;
}
.presets-action.selected button {
    border-width: 0.3rem;
    font-weight: bold;
}

.presets-action.selected button div {
    margin-top: -.1rem;
}

.presets-action .presets-action-title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (min-width: 900px) {
    .presets-display {
        display: inline-block;
        width: 70%;
        box-sizing: border-box;
        padding-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 0;
        vertical-align: top;
    }

    .presets-display .presets-display-header {
        margin-bottom: .5rem;
    }

    .presets-action button {
        border-radius: 2rem;
        height: 6.5rem;
    }

    .presets-action .presets-action-minutes {
        font-size: 2rem;
    }
}

/*******************
 Settings display
 *******************/

.settings {
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

.settings-header {
    margin-bottom: 1rem;
}

.settings-header .settings-title {
    display: inline-block;
    width: 50%;
}
.settings-header .settings-exit {
    display: inline-block;
    width: 50%;
    text-align: right;
}
.settings-header .settings-exit img {
    height: 1rem;
}

.settings-form {
    margin-bottom: 2rem;
}

.settings-presets-list {
    margin-bottom: 1rem;
}

.settings-presets-item {
    margin-bottom: .5rem;
}

.settings-presets-item input {
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    height: 2rem;
    
    color: #333;
    border-radius: 2rem;
    border: 0.1rem solid #333;
    box-shadow: #aaa 0 0.2rem 0.2rem 0;
}

.settings-form-action {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: .5rem;
}

.settings-form-action + .settings-form-action {
    padding-left: .5rem;
    padding-right: 0;
}

.settings-form-action button {
    width: 100%;
    height: 3rem;

    background: #fff;
    color: #333;
    border-radius: 2rem;
    border: 0.1rem solid #333;
    box-shadow: #aaa 0 .2rem .2rem 0;

    position: relative;
}

.settings-form-action button img {
    position: absolute;
    height: 1rem;
    top: .95rem;

    left: 1rem;
    right: auto;
}
.settings-form-action + .settings-form-action button img {
    left: auto;
    right: 1rem;
}

.settings-form-action button span {
    margin-left: 1rem;
    margin-right: auto;
}
.settings-form-action + .settings-form-action button span {
    margin-left: auto;
    margin-right: 1rem;
}

@media screen and (min-width: 900px) {
    .settings-form-action {
        width: auto;
    }

    .settings-form-action button {
        border-radius: 1rem;
    }

    .settings-form-action button img,
    .settings-form-action + .settings-form-action button img {
        left: 1rem;
        right: auto;
    }

    .settings-form-action + .settings-form-action button span,
    .settings-form-action button span {
        margin: 0 1.5rem 0 2.25rem;
    }
}

.footer {
    text-align: center;
    padding: 0 2rem;
}

